<p id="notice"><%= notice %></p>

<p>
  <strong>Auther:</strong>
  <%= @diary.auther %>
</p>

<p>
  <strong>Date:</strong>
  <%= @diary.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @diary.content %>
</p>

<p>
  <strong>Number:</strong>
  <%= @diary.number %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
